{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure              {:mvn/version "1.11.1"}
           org.clojure/data.codec           {:mvn/version "0.1.1"}
           org.clojure/tools.logging        {:mvn/version "1.2.4"}
           org.clojure/core.match           {:mvn/version "1.0.0"}

           metosin/jsonista                 {:mvn/version "0.3.5"}

           table/table                      {:mvn/version "0.5.0"}

           ;TODO clojars
           io.github.dekelpilli/randy       {:git/url "https://github.com/dekelpilli/randy.git"
                                             :sha     "125906fe70e7f5a3735f998adb6ef55b27c7afe2"}

           yogthos/config                   {:mvn/version "1.2.0"}

           org.fversnel/dnddice             {:mvn/version "4.1.0"}
           de.codeshelf.consoleui/consoleui {:mvn/version "0.0.13"}

           com.github.seancorfield/honeysql {:mvn/version "2.2.868"}
           org.postgresql/postgresql        {:mvn/version "42.3.3"}
           seancorfield/next.jdbc           {:mvn/version "1.2.659"}}
 :aliases {:dev      {:extra-deps  {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                      :extra-paths ["data/5et"]
                      :main-opts   ["-e" "(require '[campaign3.core :as core])"
                                    "-e" "(in-ns 'campaign3.core)"
                                    "-m" "rebel-readline.main"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "2.3.0"}}
                      :main-opts  ["-m" "depot.outdated.main"]}}}
