{:source-paths ["src/campaign3"
                "src"
                "test/campaign3"]
 :dependencies [[funcool/promesa "6.0.2"]]
 :nrepl        {:port 12389}
 :builds       {:repl {:target    :node-script
                       :output-to "target/campaign3_repl.js"
                       :main      campaign3.core/r}
                :campaign3 {:target    :node-script
                            :output-to "target/campaign3.js"
                            :main      campaign3.core/-main}}}
