{:test     [{:effect "A" :points 10}
            {:effect "B" :points 20}
            {:effect "C" :points 10}
            {:effect "+1 to your Strength maximum." :upgradeable false :points 20}]
 :lawrence [{:effect "+5 feet to each of your speeds per level of fatigue on you."
             :points 10
             :tags   #{"utility"}}
            {:effect "+1 to saves and attacks you have disadvantage on while fatigued."
             :points 10
             :tags   #{"survivability"}}
            {:effect "+1AB for attacks targeting an enemy other than the first enemy you targeted on that turn."
             :points 10
             :tags   #{"accuracy"}}
            {:effect      "+20% to not gain fatigue when your Frenzy ends."
             :upgradeable false
             :points      10
             :tags        #{"utility"}}
            {:effect      "You have an additional available level of fatigue, between 4 and 5, that does nothing."
             :upgradeable false
             :points      20
             :tags        #{"utility"}}
            {:effect      "Your weapons gain the Forceful trait."
             :upgradeable false
             :points      10
             :tags        #{"damage"}}]}
