[{:name    "Level x health potion(s)"
  :effect  "Heal %d hit dice worth of HP."
  :randoms [{:preset :range
             :args   [1 5]}]}
 {:name   "Potion(s) of Fortune"
  :effect "Gain advantage on your next loot roll.",
  :amount [:disadvantaged [:default]]}
 {:name   "Potion(s) of Eureka"
  :effect "Your next investigation or survival is treated as a natural 20 for the purposes of finding loot.",
  :amount [:constant 1]}
 {:name   "Vial(s) of Nullification"
  :effect "Remove one magical ailment from the target."}
 {:name   "Vial(s) of Chronology"
  :effect "Time is paused around the target until the start of your next turn. During this time, the target cannot act in any way, and cannot be affected by spells, attacks, or maneuvers (etc)."}
 {:name   "Potion(s) of Reversal"
  :effect "Heal an amount equal to the last instance of damage you have taken."
  :amount [:disadvantaged [:default]]}
 {:name   "Rejuvenation potion(s)"
  :effect "Gain 20 temporary hit points when drunk, but lose all temporary hit points 1 minute later."}
 {:name   "Potion(s) of invisibility"
  :effect "You and everything you're wearing become invisible for up to a minute. This effect ends if you attack or cast a spell."}
 {:name   "Potion(s) of greater invisibility"
  :effect "You and everything you're wearing become invisible for up to a minute. You may end the invisibility at will.",
  :amount [:disadvantaged [:default]]}]
