[{:name   "Chaos Orb(s)"
  :effect "Remove all mods on a magical item and replace them with new ones (3d20 points, min 10)."}
 {:name   "Orb(s) of Destruction"
  :effect "Remove a random mod from a magic item or relic."}
 {:name   "Orb(s) of Creation"
  :effect "Convert a mundane item into a magical item (2d20 total enchant points, min 5)"}
 {:name   "Orb(s) of Flux"
  :effect "Swap magical properties between compatible items, including simply moving enchantments to mundane items."}
 {:name   "Exalted Orb(s)"
  :effect "Add a mod to a magical item"
  :amount [:disadvantaged [:default]]}
 {:name   "Orb(s) of Balance"
  :effect "Remove a mod from a magical item and replace it with mods at least equal in point value."}
 {:name   "Divine Orb(s)"
  :effect "Reroll the randomised values of one mod, or of all mods on an item."}
 {:name   "Mythic Orb(s)"
  :effect "Transform a unique item into another random unique item."
  :amount [:advantaged [:default]]}
 {:name   "Orb of Mulligan"
  :effect "Completely level down a relic or artefact, then level it back up to its current level. Before levelling it back up, you can let go of your attunement to it.",
  :amount [:constant 1]}
 {:name   "Sacrificial Orb"
  :effect "Use when performing a ring sacrifice increase the amount of options by an amount equal to the number of rings sacrificed."}
 {:name     "Orb(s) of Purification"
  :effect   "Apply to an amulet and roll 1d6. If you roll above its current CR capacity, you may increase its CR capacity by 1. Contained creature does not change."
  :enabled? false}
 {:name     "Orb(s) of Favouritism"
  :effect   "Reroll the monster contained inside an amulet, forcing a specific monster type. If none are available of that type in the appropriate CR, you may roll with a lower CR."
  :enabled? false}
 {:name     "Orb(s) of Disavowment"
  :effect   "You lose all progress from your current prayer path and all effects it granted, then gain an equivalent amount of levels (but without any level skipping) in another pray path of your choice."
  :enabled? false}]
