#_(reduce
    (fn [acc {:keys [tags weighting]}]
      (reduce (fn [acc tag] (update acc tag (fnil #(+ % weighting) 0))) acc tags))
    {}
    enchants/enchants)
;TODO add more modifiers of tags where multiplier is 50+, update multipliers accordingly
[{:name       "Curio of Power"
  :tag        "damage"
  :multiplier 3}
 {:name       "Curio of Devastation"
  :tag        "critical"
  :multiplier 50}
 {:name       "Curio of Inevitability"
  :tag        "accuracy"
  :multiplier 10}
 {:name       "Curio of Fortitude"
  :tag        "survivability"
  :multiplier 3}
 {:name       "Curio of Weakness"
  :tag        "control"
  :multiplier 50}
 {:name       "Curio of Arcana"
  :tag        "magic"
  :multiplier 10}
 {:name       "Curio of Abundance"
  :tag        "wealth"
  :multiplier 100}
 {:name       "Curio of Sundry"
  :tag        "utility"
  :multiplier 3}]
