#_(reduce
    (fn [acc {:keys [tags weighting]}]
      (reduce (fn [acc tag] (update acc tag (fnil #(+ % weighting) 0))) acc tags))
    {}
    e/enchants)
[{:name       "Power"
  :tag        "damage"
  :multiplier 3}
 {:name       "Devastation"
  :tag        "critical"
  :multiplier 10}
 {:name       "Inevitability"
  :tag        "accuracy"
  :multiplier 11}
 {:name       "Fortitude"
  :tag        "survivability"
  :multiplier 3}
 {:name       "Weakness"
  :tag        "control"
  :multiplier 19}
 {:name       "Arcana"
  :tag        "magic"
  :multiplier 6}
 {:name       "Abundance"
  :tag        "wealth"
  :multiplier 19}
 {:name       "Sundry"
  :tag        "utility"
  :multiplier 3}]
