[{:name   "Touch of Subjective Truth"
  :levels [{:effect "You are considered to be proficient in Deception and Insight if you have used a non-cantrip Illusion spell since your last long rest."
            :tags   #{"magic" "utility"}}
           {:effect "Creatures that currently believe one of your illusions are real have disadvantage when attacking you."
            :tags   #{"survivability" "magic"}}
           {:effect "You may cast Distort Value once per long rest. When cast in this way, you may target any non-relic object, instead of being size limited."
            :tags   #{"magic" "wealth"}}
           {:effect "When casting non-cantrip Illusion spells, you may choose to use the spell slot level below that spell's regular casting requirement, including any upcasting, to a minimum of 1."
            :tags   #{"magic"}}
           {:effect "+1 to the DCs of Illusion spells."
            :tags   #{"accuracy"}}
           {:effect "You have +1 AC, and become proficient in Intelligence, Charisma, and Wisdom saving throws, while concentrating on anon-cantrip illusion spell."
            :tags   #{"survivability" "magic"}}
           {:effect "No more than once per minute, when you tell a lie, you may immediately learn if one person that heard that lie believed, disbelieved, or was unsure about the veracity of your statement."
            :tags   #{"utility"}}
           {:effect "You have 30 feet of Truesight, and may automatically discern illusions from reality at any distance (including non-visual illusions)."
            :tags   #{"magic"}}]}
 {:name   "Touch of Eternal Vigour"
  :levels [{:effect "Gain an additional 5 temporary hit points whenever you gain temporary hit points."
            :tags   #{"survivability"}}
           {:effect "-3 critical strike requirement for death saving throws."
            :tags   #{"survivability"}}
           {:effect "+1 resistance to damage for each previous time you've been hit per round."
            :tags   #{"survivability"}}
           {:effect "You have +3 to maximum hit points, and you have +1 maximum per armour relic level."
            :tags   #{"survivability"}}
           {:effect "You take half damage from attacks that hit you within 1 point of your AC (i.e. equal or one above)."
            :tags   #{"survivability"}}
           {:effect "You take no additional damage from critical hits."
            :tags   #{"survivability"}}
           {:effect "You may make Wisdom (Medicine) checks to heal downed creatures as a bonus action. You may do this no more than once per combat."
            :tags   #{"utility"}}
           {:effect "Once per round when you fail a saving throw against an effect that would cause a condition, you may attempt the save again."
            :tags   #{"survivability"}}]}
 {:name   "Touch of Unrelenting Fortune"
  :levels [{:effect "You find divine dust with advantage (favouring refined dust)." ;TODO find notes about refined dust...
            :tags   #{"wealth"}}
           {:effect "You may roll an additional die to attempt a critical hit after hitting a creature with an attack. Similarly, creatures that fail a save against a spell of yours must roll again and use the lowest result."
            :tags   #{"critical"}}
           {:effect "The quantity of crafting items, consumable items, and curios you find from loot rolls is increased by 1."
            :tags   #{"wealth"}}
           {:effect "The cost of upgrading your relic levels is reduced by 10%."
            :tags   #{"wealth"}}
           {:effect "Orbs of Purification's chance to fracture helmets is halved."
            :tags   #{"wealth"}}
           {:effect "When you roll 7 or lower on a loot roll, you have advantage on the result of the roll (you get two options, choose one)."
            :tags   #{"wealth"}}
           {:effect "You may cast Fortune's Favour at any spell level as a free action on your turn once per round. You can use no more than 10 spell slot levels on this per long rest."
            :tags   #{"magic"}}
           {:effect "Your amulet's trait is always active."
            :tags   #{"utility"}}]}
 {:name   "Touch of Wrathful Judgement"
  :levels [{:effect "Enemies that damage you become marked by Brand of Vengeance for a minute. Creatures marked with BoV have +1 damage taken from you."
            :tags   #{"damage"}}
           {:effect "When you land a killing blow against an enemy marked by BoV, you gain hit points equal to your level."
            :tags   #{"survivability"}}
           {:effect "Creatures marked by you now have -1 global damage. If skipped 1, enemies that damage you become marked by BoV for a minute (no +1 damage)."
            :tags   #{"control"}}
           {:effect "Enemies are marked with BoV if they land a killing blow against an ally of yours."
            :tags   #{"utility"}}
           {:effect "Your attacks and spells deal +1d4 radiant damage against marked enemies."
            :tags   #{"damage"}}
           {:effect "You have -1 critical strike requirement against marked enemies."
            :tags   #{"critical"}}
           {:effect "+5 radiant thorns."
            :tags   #{"damage"}}
           {:effect "Enemies marked by BoV have -1AB and -1AC."
            :tags   #{"accuracy" "control"}}]}
 {:name   "Touch of Vicious Combat"
  :levels [{:effect "You and your allies gain +1 damage in battle while outnumbered (>0hp only)."
            :tags   #{"damage"}}
           {:effect "When using a consumable in combat, you have a 25% chance for that consumable to be refunded immediately."
            :tags   #{"wealth"}}
           {:effect "Once per combat, as a reaction to an ally within 10 feet of you going down, you may choose for them to remain on 1 hit point, and for you to go down instead."
            :tags   #{"utility"}}
           {:effect "When you land a Killing Blow, all allies of the killed creature within 60 feet that saw the kill suffer a -2 penalty to their mental attributes (min 1) for the next 12 seconds (does not stack). Additionally, for the same duration, you gain 5 temporary hit points for each enemy affected."
            :tags   #{"control" "survivability"}}
           {:effect "You gain proficiency in saving throws of types you've failed in the last 12 seconds."
            :tags   #{"survivability"}}
           {:effect "Creatures of your choice within 10 feet of you are rattled while you are not incapacitated or unconscious."
            :tags   #{"control"}}
           {:effect "You have +1 AB and +1 to spell save DCs against enemies within 5 feet of two or more of your allies, including yourself."
            :tags   #{"accuracy"}}
           {:effect "One of your weapons has an additional enchantment slot."
            :tags   #{"utility"}}]}
 {:name   "Touch of Unbound Arcana"
  :levels [{:effect "You have an additional first level spell slot, assuming you already have at least one."
            :tags   #{"magic"}}
           {:effect "You gain both proficiency and an expertise die with Arcana."
            :tags   #{"utility"}}
           {:effect "All weapons you use are considered to have the Conduit trait."
            :tags   #{"magic"}}
           {:effect "When you upcast a spell, you may cast it at a level one above the spell slot consumed."
            :tags   #{"magic"}}
           {:effect "You may cast spells with a range that isn't Self as if they had a range of Touch instead. Creatures you damage with a spell with a range of Touch cannot make opportunity attacks until the start of their next turn."
            :tags   #{"magic" "control"}}
           {:effect "Once per long rest, when you fail a Concentration Save, you may choose to succeed instead."
            :tags   #{"magic"}}
           {:effect "You are considered to be proficient in all saving throws against magical effects."
            :tags   #{"survivability"}}
           {:effect "Whenever you cast a spell that was ineffective (e.g. a spell attack that missed), you may make Constitution saving throw against a DC of 10 + twice the spell slot level used. On a success, you regain the consumed spell slot."
            :tags   #{"magic"}}]}
 {:name   "Touch of Elemental Mastery" ;TODO too strong
  :levels [{:effect "When you score a critical strike, your critical die sizes for elemental damage (acid, cold, fire, lightning, or thunder damage) increase by two."
            :tags   #{"critical"}}
           {}
           {:effect "-1 critical strike requirement for attacks that would deal elemental damage."
            :tags   #{"critical"}}
           {:effect "You have +1 resistance to elemental damage."
            :tags   #{"survivability"}}
           {:effect "You can cast Absorb Elements an amount of times equal to your attribute modifier of choice, to a minimum of once, per long rest."
            :tags   #{"magic" "damage" "survivability"}}
           {:effect "You may cast Fire Shield as a bonus action once per short rest. When cast in this way, you may also target other willing creatures you can see within 30 feet."
            :tags   #{"magic" "damage"}}
           {:effect "+1 AB with attacks that would deal elemental damage damage, and +1 spell save DC to spells that would deal elemental damage."
            :tags   #{"accuracy"}}
           {}]}
 {:name   "Touch of Volatile Presence"
  :levels ["You may conjure a piece of Adventuring Gear worth between 1cp and 10gp (inclusive). Items conjured in this way dissipate after 10 minutes. You may do this 5 times per long rest. (For items not on the list, you can ask me an I might be willing to let you conjure anyway)."
           "When you make an opportunity attack, you may make a proficient spell attack against that target instead (attribute of choice). On a hit, teleport the target to a random safe and unoccupied space you can see within 20 feet of them (2d9, where 5/5 is no effect). Note that you can make opportunity attacks with ranged weapons as improvised weapons."
           "You learn the Mage Hand cantrip. This does not count towards your limit of known cantrips. You may cast Mage Hand requiring no verbal or somatic components, as well as dismiss and control it as a bonus action. Additionally, it is no longer restricted to 10 pounds - you may make checks with an attribute of choice equivalent to strength checks to determine the hand's power. This cannot be used for creature interactions (e.g. shoves)."
           "Using your movement action, you may prepare teleportation to a space you can see within range of your movement speed. If you also prepare an action on the same turn, the action must have the same trigger, and you may use the same reaction to perform the action and the movement in the order of your choice."
           "You may cast Summon Construct once per long rest. When cast in this way, you may spend a bonus action to conjure fixes to flaws in the Construct, restoring its hit points by up to twice your level. You may do this no more than twice per minute."
           "As a bonus action, you may conjure up to 5 stone pillars (5 feet squared each) from the ground on spaces you can see within 60 feet of you. These pillars are 20 feet tall or the height of the ceiling, whichever is shorter. Creatures on those spaces are pushed to a surrounding empty space of your choice, then make a Dex save (ment att of choice) or take 1d10 bludgeoning damage. These pillars last for 10 minutes, and have 17AC and 100HP, disappearing when reaching 0 life. Max 15 active pillars at one time."
           "When within 5 feet of one of your pillars, you have full visibility from the perspectives of any of your pillars. Additionally, you may choose to make any spell or attack you use originate from another pillar you have created in the same plane. For example, a pillar 500 feet away might make a sword attack against an adjacent creature, or cast Fireball into a room you would otherwise not be able to see."
           "You may cast Temple of The Gods once per long rest. When cast in this way, the temple must be dedicated to Eion. While in a Temple of the Gods dedicated to Eion, you may cast Conjuration spells at two levels above its regular spell level (normally the spell slot level used)."
           "You may replace your movement with teleportation (limited to spaces you can see), allowing you to move across otherwise uncrossable/difficult terrain, move vertically, and always avoid opportunity attacks."
           "You may cast Create Magen once per long rest. When cast in this way, the maximum hit point reduction is instead 4 times the CR of the Magen summoned, but the reduction only lasts as long as the Magen is alive. You may desummon any of your Magens at will."]}
 {:name   "Touch of Nature's Influence"
  :levels [{:effect "+1 expertise die with Survival when in nature or when foraging materials from creatures."
            :tags   #{"utility" "wealth"}}
           {:effect "You are permanently under the effects of the Speak with Animals spell."
            :tags   #{"magic" "utility"}}
           {:effect "You learn the Speak with Plants spell and may cast it at will as a 10 minute ritual. When cast in this way, the spell lasts 30 minuets."
            :tags   #{"magic" "utility"}}
           {:effect "Aspects allow you to take on certain traits of a creature, but you may only have one active at a time. You may enter and exit Aspects as a free action. You learn Aspect of the Moorbounder and may use it once per combat; while this is active you gain the Moorbounder's speed and Standing Leap feature."
            :tags   #{"utility"}}
           {:effect "Gain 3 temporary hit points hit points at the start of each turn in combat if within 60 feet of a plant at least Large in size, or while in direct sunlight."
            :tags   #{"survivability"}}
           {:effect "You learn the Aspect of the Spider; while this is active, your spells and attacks have +1d4 poison damage, and you are are under the effect of the Spider Climb spell."
            :tags   #{"damage" "magic" "utility"}}
           {:effect "When land a natural critical strike and deal poison damage, force the target to make a Constitution saving throw, becoming poisoned for 1 minute on a failed save (repeat on turn ends)."
            :tags   #{"control"}}
           {:effect "You develop a thick hide, granting you +1 AC and +1 resistance to physical damage from weapons."
            :tags   #{"survivability"}}]}]
