[{:effect "+1 AC."
  :points 30}
 {:effect "You have an additional spell slot of your second highest spell slot where you have at least one spell slot available."
  :points 20}
 {:effect       "+5ft attack reach with melee attacks on your turn."
  :points       30
  :upgradeable? false}
 {:effect "Stone's Endurance (if you already have it, you get another use per long/short rest) (Volo's p109),"
  :points 16}
 {:effect       "This weapon is considered magical for the purposes of overcoming resistances and immunities.",
  :metadata     #{"weapon"}
  :points       25
  :upgradeable? false}
 {:effect "+1 to global AB."
  :points 35}
 {:effect   "+1 to this weapon's base damage die size.",
  :metadata #{"weapon"}
  :points   11}
 {:effect "Recover a 1st-level spell slot when you roll for initiative."}
 {:effect "Recover 10% of your maximum class points (minimum 1) when you roll for initiative."}
 {:effect   "+1d4 %s damage with attacks with this weapon."
  :points   17
  :metadata #{"weapon"}
  :randoms  [{:preset :damage-types
              :type   :non-physical}]}
 {:effect "+1 spell save and special feature DCs"
  :points 35}
 {:effect     "+1 AC while unarmoured and not using a Shield or Targe weapons."
  :not-traits #{"Targe"}
  :not-type   #{"Shield" "Light" "Medium" "Heavy"}
  :points     20}
 {:effect "+1 AC while using a Shield or a Targe weapon."
  :points 25}
 {:effect "Gain resistance to physical damage equal to half the CR total of your highest CR active minion."}
 {:effect  "+2 %s damage."
  :randoms [{:preset :damage-types
             :type   :physical}]
  :points  20}
 {:effect         "+[2] %s damage."
  :randoms        [{:preset :damage-types
                    :type   :non-physical}]
  :points         15
  :upgrade-points 10}
 {:effect  "+1 %s resistance."
  :randoms [{:preset :damage-types
             :type   :non-physical}]}
 {:effect  "+1 %s."
  :randoms [{:preset :attributes}]
  :points  20}
 {:effect "You have an additional second level spell slot (only if you already had at least 1)."
  :points 15}
 {:effect "+1 proficiency bonus if this mod is empowered or appears twice on the same item."
  :points 20}
 {:effect "-1 critical strike requirement with attacks."
  :points 20}
 {:effect "Targets have +1 critical strike avoidance minimum when saving against your spells."}
 {:effect "+1 weapon attack AB with attacks that deal non-physical damage."
  :points 30}
 {:effect       "You have advantage on initiative rolls."
  :upgradeable? false}
 {:effect "No more than once per minute, when you score a critical strike, recover a 1st-level spell slot."}
 {:effect "No more than once per minute, when you score a critical strike, recover a 10% of your maximum class points (minimum 1)."}
 {:effect   "+1 AB with unarmed attacks."
  :metadata #{"armour"}
  :points   25}
 {:effect   "+1d4 %s damage with attacks with this weapon."
  :points   20
  :randoms  [{:preset :damage-types
              :type   :physical}]
  :metadata #{"weapon"}}
 {:effect   "+1 to %s saving throws"
  :randoms  [{:preset :attributes
              :type   :uncommon}]
  :metadata #{"armour"}}
 {:effect   "+1 to %s saving throws"
  :randoms  [{:preset :attributes
              :type   :common}]
  :points   18
  :metadata #{"armour"}}
 {:effect   "This weapon deals no base damage. Roll another modifier and empower it twice.",
  :metadata #{"weapon"}}
 {:effect "You gain telepathy with a range of 10 feet."}
 {:effect "+1 question when learning creature stats (must have earned at least one question)"}
 {:effect "Your critical strikes add 1 additional damage die from the source's base damage."}
 {:effect "You can use your reaction to change any damage you deal into a damage type of your choice. This is visually noticeable."}
 {:effect   "+1 resistance to %s damage."
  :metadata #{"armour"}
  :randoms  [{:preset :damage-types
              :type   :physical}]}
 {:effect   "Once per round, when you take damage from a melee or touch attack, the attacker takes true damage equal to half your level, rounded down.",
  :metadata #{"armour"}}
 {:effect   "When a melee or touch fails to hit you, the attacker takes true damage equal to half your level (rounded up).",
  :metadata #{"armour"}}
 {:effect "Roll again, making that result a negative enchant. Then roll again, empowering that result."}
 {:effect "-1 to a creature's saving throws attempting to end an ongoing condition you caused."}
 {:effect "Once per long rest, as an action, you can make a Persuasion check contested by a non-hostile creature's Wisdom save. The creature must be within 60 feet of you. On a success, you can give them a command as per the Command spell."}
 {:effect       "If you take damage exceeding 25% of your maximum hit points in one turn and do not reach 0 hit points by its end, heal hit points equal to your level."
  :upgradeable? false}
 {:effect       "If you take damage exceeding 25% of your maximum hit points in one round and do not reach 0 hit points by its end, you may move up one place in the initiative tracker, if possible."
  :upgradeable? false}
 {:effect "Once per long rest, when you need make an attack roll, ability check, or saving throw, you can use your reaction to replace it with a 50% chance to critically succeed and 50% chance to to critically fail."}
 {:effect "+1 global damage."
  :points 15}
 {:effect "+1 to death saves."}
 {:effect  "After receiving damage for the first time in a combat, you may choose to become resistant to that damage type for the next two rounds. If you choose to do so, you then become vulnerable %s and %s for the rest of the combat."
  :randoms {:preset :without-replacement
            :amount 2
            :from   {:preset :damage-types}}}
 {:effect "Gain temporary hit points equal to your lowest ability score (not bonus) at the beginning of each combat."}
 {:effect   "+1 resistance to %s damage."
  :metadata #{"armour"}
  :randoms  [{:preset :damage-types
              :type   :non-physical}]}
 {:effect "You have an additional first level spell slot."}
 {:effect "+10ft darkvision."
  :points 15}
 {:effect "+5ft blindsight."}
 {:effect "+5ft tremorsense."}
 {:effect "You cannot be deafened."
  :points 4}
 {:effect       "When you score a critical strike with an attack of opportunity, the target is paralyzed until the end of their turn."
  :upgradeable? false}
 {:effect       "When you hit a creature with an attack with this weapon, they are silenced until the end of their next turn.",
  :metadata     #{"weapon"}
  :upgradeable? false}
 {:effect       "You're acclimated to high altitude, including elevations above 20,000 feet."
  :points       3
  :upgradeable? false}
 {:effect       "First wearer chooses a language in which this item grants proficiency."
  :upgradeable? false}
 {:effect "+1 passive perception."}
 {:effect "+2 passive perception while asleep."}
 {:effect "+10 feet speed in all of your available speed types."}
 {:effect "+1 to hit die size for regaining health during short rests."}
 {:effect "+1 to initiative rolls."}
 {:effect "+1 damage with spells."}
 {:effect "+5ft fly speed."}
 {:effect "+10ft climb speed."}
 {:effect "+10ft swimming speed, and you can breath under water."}
 {:effect       "You can jump without a run-up as if you had taken a run-up."
  :upgradeable? false}
 {:effect "+5 points of Lay on Hands per long rest."
  :points 5}
 {:effect  "+4 damage against %s creatures."
  :randoms [{:preset :monster-type}]}
 {:effect   "Your short rests can be 10 minutes shorter, to a minimum of 20 minutes.",
  :metadata #{"armour"}
  :points   3}
 {:effect "Your long rests can be 1 hour shorter, to a minimum of 3 hours."
  :points 3}
 {:effect  "+1 expertise die with %s."
  :randoms [{:preset :skills
             :type :uncommon}]
  :points  15}
 {:effect  "+1 to non-proficient %s checks."
  :randoms [{:preset :skills}
            ["arcana" "athletics" "acrobatics" "sleight of hand" "stealth" "history"
             "nature" "religion" "animal handling" "survival" "intimidation" "performance"
             "perception" "medicine" "deception" "persuasion" "investigation" "insight"]]}
 {:effect  "+1 %s."
  :randoms [{:preset :skills
             :type   :common}]
  :points  15}
 {:effect   "+20 feet to both range options on ranged weapons."
  :points   20
  :ranged?  true
  :metadata #{"weapon"}}
 {:effect  "While wearing this item, you may cast %s once per long rest (mental attribute of your choice)."
  :randoms [{:preset :cantrips}]}
 {:effect "+2 to deception in languages other than Common."}
 {:effect         "This item sells for an extra [1]d100 gold. You only roll after the item is sold."
  :upgrade-points 0}
 {:effect "+4 Strength while restrained."}
 {:effect   "Missed attacks with this weapon have a 20% chance to be critical hits instead while you are below 20% hit points."
  :metadata #{"weapon"}}
 {:effect "Modifiers to your damage apply to your minions at 50% effectiveness (stacks, max 100%)."}
 {:effect "+1 incoming healing (not including from potions/healing surges)."}
 {:effect "+2 outgoing healing"}
 {:effect "Once per long rest, when rolling a natural 1 on a d20, you may reroll."}
 {:effect   "Heal 1 HP on hitting a creature with this weapon in combat."
  :metadata #{"weapon"}}
 {:effect   "+1 to saving throws made to end an ongoing condition if your HP is above 0."
  :metadata #{"armour"}}
 {:effect       "You have resistance to all damage while taking the Dodge action."
  :upgradeable? false}
 {:effect       "You take no additional damage from damage you are vulnerable to."
  :points       3
  :upgradeable? false}
 {:effect "+1 damage to melee and touch attacks."}
 {:effect "[Once] per short rest, recover a 1st-level spell slot on Killing Blow."}
 {:effect "Recover 10% of your maximum class points (minimum 1) on Killing Blow."}
 {:effect   "At the start of your turn in combat, if you haven't taken damage since the start of your last turn, gain 1 temporary hit point. This stacks with any existing temporary hit points.",
  :metadata #{"armour"}}
 {:effect   "+1 damage with weapon attacks."
  :metadata #{"weapon"}}
 {:effect   "Once per long rest, you can choose a target you can see as an action and then cast a random 1st-level spell on that target, ignoring range restrictions.",
  :metadata ["weapon"]}
 {:effect "When you deliver a Killing Blow, gain +2 global damage for [1] minute."}
 {:effect "+2 to physical resistance while taking Damage Over Time."}
 {:effect "+1 to damage with light weapons."}
 {:effect "Reroll, the resulting enchant is applied to minions instead of the wielder (10 points)."}
 {:effect   "Your minions have +1 resistance to all damage."
  :enabled? false}
 {:effect "When an attack fails to hit you in combat, you can use your reaction to reduce your AC for the attack until it does hit you. Your next instance of damage in the next minute is then increased by 3 for each point of AC you dropped."}
 {:effect "+1 to Damage Over Time."}
 {:effect "When you hit a creature with this weapon, they get a non-stacking -1 resistance to all damage dealt by creatures other than yourself for [1] minute."}
 {:effect   "+2 resistance to damage from projectiles."
  :metadata #{"armour"}}
 {:effect "When you deliver a Killing Blow, gain 10 temporary hit points."}
 {:effect "Whenever you grant a buff with a duration to a creature, gain outgoing healing +1 until the end of thee buff."}
 {:effect "Every third spell you cast deals +[5] damage, across any amount of time."}
 {:effect  "+2 global AB against %s creatures."
  :randoms [{:preset :monster-type}]}
 {:effect "+2 damage against enemies you are flanking."}
 {:effect "+2 global damage against creatures behind you in the initiative tracker."}
 {:effect "Heal 5 hit points when you roll for initiative."}
 {:effect       "You can travel through 1 inch of solid surface with a full movement action. If you end your turn inside the surface, you are shunted back to your original location."
  :upgradeable? false}
 {:effect       "All of your damage type-seeks to maximise damage against %s creatures."
  :randoms      [{:preset :monster-type}]
  :upgradeable? false}
 {:effect  "+2 resistance to damage from %s creatures."
  :randoms [{:preset :monster-type}]}
 {:effect   "+25% chance to ignore bonus damage from incoming critical strikes."
  :metadata #{"armour"}}
 {:effect       "While you have 3 different enchantments equipped that grant bonuses against the same type of creature, you have +1 to your proficiency bonus."
  :upgradeable? false}
 {:effect "+2 global damage while your hit points are below 50% of your hit point maximum."}
 {:effect "When you deliver a Killing Blow, heal 5 hit points."}
 {:effect "+1 health regeneration per round of combat."}
 {:effect "+3 to maximum HP."}
 {:effect "+3 to minion damage."
  :points 15}
 {:effect   "+5 to minion HP per minion CR."
  :enabled? false}
 {:effect "+10HP while transformed."}
 {:effect "When you exit your transformed state, you gain temporary hit points equal to twice the CR of the creature you were transformed into."}
 {:effect "+2 global damage and +10ft speed while transformed into a Beast."}
 {:effect "+1d6 radiant damage while transformed into a Celestial."}
 {:effect "+2 to DCs of effects that cause conditions while transformed."
  :points 15}
 {:effect       "You retain your normal speed while transformed into an Ooze."
  :upgradeable? false}
 {:effect       "You may keep your current appearance, minus size, while transformed into a Humanoid."
  :points       2
  :upgradeable? false}
 {:effect "+1d6 psychic damage while transformed into an Aberration."}
 {:effect       "You may ignore conditions while transformed into a Construct."
  :upgradeable? false}
 {:effect "Attacks that would deal fire, cold, or lightning damage have +2AB while you are transformed into an Elemental."}
 {:effect       "While transformed into a Dragon, you are immune to any non-physical damage types you can deal."
  :points       4
  :upgradeable? false}
 {:effect       "You have advantage on all skill checks while transformed into a Fey."
  :upgradeable? false}
 {:effect "+1d8 bludgeoning damage while transformed into a Giant."}
 {:effect "+1d4 fire damage while transformed into a Fiend. +1d4 poison damage if it is also a Demon."}
 {:effect       "While transformed into an undead creature, if you go down to 0 hit points, you do not transform back to your normal form for two more rounds."
  :points       15
  :upgradeable? false}
 {:effect "Once per short rest, while transformed into a Monstrosity, you may take two standard actions instead of one on your turn."}
 {:effect "While transformed into a Plant, you regenerate health equal to your Constitution modifier every round, to a minimum of 1 (the plant's value + any of your bonuses)."}
 {:effect "+5 feet range for applying stabilising Medicine checks."}
 {:effect "25% chance when using a Miscreation to not consume the item."}
 {:effect  "+1 to your %s maximum."
  :points  20
  :randoms [["Dexterity" "Constitution" "Wisdom" "Charisma" "Strength" "Intelligence"]]}
 {:effect       "You are considered to be proficient in Acrobatics checks that are made with disadvantage."
  :points       4
  :upgradeable? false}
 {:effect   "+1 to death saves in sunlight."
  :points   5
  :metadata #{"armour"}}
 {:effect   "If you successfully disarm an enemy with this weapon, you may use a bonus action in the same turn to make an attack against the creature you disarmed."
  :points   15
  :traits   #{"Disarm"}
  :metadata #{"weapon"}}
 {:effect       "Enemies are considered to enter and leave your reach at both 5 and 10 feet."
  :points       25
  :traits       #{"Reach"}
  :metadata     #{"weapon"}
  :upgradeable? false}
 {:effect       "This weapon only requires 10 strength instead of 15. It is still considered heavy for the purpose of dual wielding."
  :points       5
  :traits       #{"Heavy"}
  :metadata     #{"weapon"}
  :upgradeable? false}
 {:effect "+1 damage die size from marks you caused."
  :points 15}
 {:effect "+1 damage against marked enemies."}
 {:effect       "Ranged attacks with this weapon do not suffer disadvantage from enemies being within 5 feet of you if the target of the attack is within 5 feet of you."
  :ranged?      true
  :points       13
  :upgradeable? false}
 {:effect "Upon cursing a creature, you may ask one question about it."}
 {:effect         "Creatures that were cursed by you in the last minute but no longer are have -[1] to saving throws against your curses."
  :upgrade-points 15}
 {:effect "+[1] to initiative rolls when at least one of the enemies you can see is of size Large or greater."}
 {:effect "+[2] to saving throws against effects that can petrify."}
 {:effect "+[2] damage with attacks that are at least your third during that turn."}
 {:effect "+[1] to contested Athletics and Acrobatics checks."}
 {:effect   "Your critical strikes with this weapon are also non-lethal."
  :metadata #{"weapon"}
  :traits   #{"Non-lethal"}}
 {:effect "[5]% chance to refund the spell slot used for a spell cast outside of your turn."}
 {:effect "Regain 2 hits points when you, or allies within [5] feet of you, take a critical hit and remains conscious."}
 {:effect                "This armour no longer causes Stealth checks to be made with disadvantage."
  :metadata              #{"armour"}
  :disadvantaged-stealth true}
 {:effect "Creatures you stabilise with a medicine check are always granted at least [1] healing surge."}
 {:effect   "+[2] to maximum hit points."
  :metadata #{"armour"}}
 {:effect "You have an additional first level spell slot (only if you already had at least 1)."}
 {:effect   "When you hit an invisible creature with this weapon, they become visible."
  :metadata #{"weapon"}}
 {:effect       "Long range thrown attacks with this weapon have a 50% chance to not incur disadvantage due to the range."
  :upgradeable? false
  :metadata     #{"weapon"}
  :traits       #{"Thrown"}}
 {:effect       "+1 resistance to bludgeoning, piercing, and slashing damage if wearing a heavy body armour, helmet, gloves, and boots."
  :upgradeable? false
  :metadata     #{"armour"}
  :type         #{"Heavy"}}
 {:effect   "+1 to Dexterity saving throws if wearing a light or unarmoured body armour, helmet, gloves, and boots, and no using a shield."
  :metadata #{"armour"}
  :type     #{"Light" "Unarmoured"}}]
