#_(->> enchants/enchants
    (reduce (fn tags-f [acc {:keys [tags weighting]}]
              (reduce (fn tag-f [acc tag]
                        (update acc tag (fnil #(+ % weighting) 0)))
                acc tags)) {}))

[{:name       "Stone of Power"
  :tag        "damage"
  :multiplier 5}
 {:name       "Stone of Devastation"
  :tag        "critical"
  :multiplier 33}
 {:name       "Stone of Inevitability"
  :tag        "accuracy"
  :multiplier 15}
 {:name       "Stone of Fortitude"
  :tag        "survivability"
  :multiplier 4}
 {:name       "Stone of Weakness"
  :tag        "control"
  :multiplier 44}
 {:name       "Stone of Arcana"
  :tag        "magic"
  :multiplier 11}
 {:name       "Stone of Serendipity"
  :tag        "wealth"
  :multiplier 65}
 {:name       "Stone of Sundry"
  :tag        "utility"
  :multiplier 3}]
