[{:cost         "20g (each)"
  :participants "any"
  :rules        "Each paying player gets a disadvantaged d12 loot roll, granting the reward twice."}
 {:cost         "30g (each)"
  :participants "any"
  :rules        "Roll 1d4: 1. Advantage 1d12 loot roll. 2. 1d12 loot roll with advantaged result. 3. 4x Orbs of Personality 4. Divine Dust."}
 {:cost         "60g (party)"
  :participants "everyone"
  :rules        "Give all crafting items in the party. For each item, the party gains a Crafting Item loot roll result."}
 {:cost         "25g (each)"
  :participants "any"
  :rules        "Choose a word and roll d100 and feed into Cheiro sum algorithm. Get a magic item on a base of player's choice with that many enchant points."}
 {:cost         "15g (each)"
  :participants "any"
  :rules        "Players may choose to replace the effect in their amulet with any other effect granted by that monster."}
 {:cost         "50g (each)"
  :participants "any"
  :rules        "Players may choose to learn what each level of a divinity path of their choice grants, then obtain one divine dust."}]
