[{:name   "Rheztol",
  :levels ["You learn the Minor Illusion cantrip. This does not count towards your limit of known cantrips. The spellcasting modifier can be an attribute of your choice."
           "You have expertise in Investigation when identifying illusions."
           "You become proficient in Deception. If you are already proficient, gain +2 deception instead."
           "You become proficient in Persuasion. If you are already proficient, gain +2 persuasion instead. You may choose to use persuasion instead of deception when communicating something true in a misleading way."
           "When making Insight checks to analyse a person's statement(s), you may also make a Deception to detect they are lying/concealing information, but not to attempt to understand motivations"
           "Creatures that currently believe one of your illusions are real have disadvantage when attacking you"
           "When casting non-cantrip Illusion spells, you may choose to use the spell slot level below that spell's natural casting requirement, to a minimum of 1"
           "+2 to the DCs of Illusion spells"
           "You may cast Zone of Truth once per short rest. When cast in this way, the spell is centered on you and lasts for 1 hour." ;TODO: odi?
           "You have 30 feet of Truesight, and may automatically discern illusions from reality at any distance (including non-visual illusions)."]}
 {:name   "Esher",
  :levels ["When you roll a 1 on a die for gaining healing from healing surges, you may reroll the die and must use the new result."
           "You and your minions have +3 to maximum hit points, and you have +3 to maximum hit points while transformed."
           "You have advantage on saves against poisons and diseases."
           "You regain one expended healing surge on initiative roll. If you already had all of your healing surges, gain temporary hit points equal to your Constitution modifier instead."
           "You take no additional damage from critical hits."
           "You may make Wisdom (Medicine) checks to heal downed allies as a bonus action."
           "Once per long rest, as an action, you may pray to Esher to regain all expended healing surges."
           "As a reaction when failing a Wisdom saving throw against an effect that would cause a condition, you may attempt the save again."
           "You gain the Healer feat. If you already have the Healer feat, you may gain a different feat instead."
           "You learn the Mass Heal spell and may cast it once per long rest. When cast in this way, you may choose to concentrate on the spell to stagger the healing over up to 3 rounds, but must still use an action to deliver that healing."]}
 {:name   "Ateus",
  :levels ["Your skill checks have a minimum result (after bonuses) equal to the total number of relics and rings you are wearing, to a maximum of 14."
           "You are considered to be wearing an additional \"The Prosperous\" ring which does not reserve ring points or count towards your worn rings maximum. You may turn this effect on or off during a long rest."
           "Prayer stones you find are advantaged (favouring your current path over other stones)."
           "You may roll an additional die to attempt a critical hit after hitting a creature with an attack. Similarly, creatures that fail a save against a spell of yours must roll again and use the lowest result."
           "You obtain an additional item from crafting and consumable loot rolls."
           "When you roll 7 or lower on a loot roll, you have advantage on the result of the roll (you get two options, choose one)."
           "The cost of levelling relics attuned to you is reduced by 100 gold, to a minimum of 10."
           "You may cast Fortune's Favour at any spell level as a bonus action. You can use no more than 10 spell slot levels on this per long rest."
           "You gain inspiration when rolling a natural 20 on an attack, ability check, or saving throw. You also gain inspiration when an enemy critically fails an attack against you, or a save against an effect of yours."
           "Your inspiration point maximum goes up to 2. Additionally, you may choose to expend inspiration after completing a roll rather than to simply gain advantage."]}
 {:name   "Vuneta",
  :levels ["You have advantage on Persuasion checks with creatures you are friendly with."
           "You have expertise in Persuasion and Insight when attempting to avoid violence."
           "Your spells that cause conditions have +1 DC against creatures that have damaged you in the last minute."
           "You can cast Misty Step once per long rest. When cast in this way, the spell targets you and up to 5 other willing creatures that you can see within 60 feet, and can teleport you up to 100 feet away."
           "Creatures of your choice within 10 feet of you have -1 AB."
           "Upon being damaged by an enemy, you may immediately apply Enfeeblement on them, as per the Ray of Enfeeblement spell. This still requires concentration, and saves at the end of each of the target's turns."
           "+1 AC in combats where an enemy has been brought down non-lethally."
           "Once per long rest, as a reaction to getting hit by an enemy, you apply invulnerability (as per the Invulnerability spell) on both yourself and the enemy that damaged you, requiring concentration."
           "You may cast the Prismatic Wall spell once per long rest, but you may only choose the Violet variation."
           "You may cast the Imprisonment spell as an action once per long rest. When cast in this way, the target also becomes invulnerable and the spell's duration is 1 hour."]}
 {:name   "Zetnos",
  :levels ["Enemies that damage you become marked by Brand of Vengeance for a minute. Creatures marked with BoV have +1 damage taken from you."
           "You may cast Hellish Rebuke as a first level spell. You can do this an amount of times equal to an attribute of your choice (min 1) every long rest. If skipped 1, enemies that damage you become marked by BoV for a minute (no +1 damage)."
           "Creatures marked with BoV now have -1 global damage."
           "Your attacks and spells deal +1d4 radiant damage against marked enemies."
           "Enemies are marked with BoV if they damage you or an ally, instead of just you."
           "You have -1 critical strike requirement against marked enemies."
           "Enemies marked by BoV have -1AB and -1AC."
           "Gain 15 temporary hit points when you land a killing blow against marked enemy. "
           "+5 radiant thorns."
           "You have advantage on attacks against marked enemies."]}
 {:name   "Odi",
  :levels ["You have Expertise with Sleight of Hand when stealing documents (can be plans, contracts, maps, etc).",
           "You have advantage on all Wisdom and Intelligence skill checks if you have taken at least 10 damage in the last minute. You may self-inflict this damage to trigger this."
           "When learning creature stats, changing the target creature does not consume questions."
           "As an action when you successfully learn about a creature within 5 feet of you, you may force that creature to make a WIS save against 8 + your prof mod + an attribute mod of your choice. On a failed save, it has disadvantage when attacking you for up to a minute, saving at the end of each turn to end the effect."
           "As a reaction to being targeted by an opportunity attack, you immediately gain 4 questions about that creature."
           "When you are forced to make a save, you may use your Investigation bonus instead of your save bonus. You may do this up to four times per short rest."
           "You get 8 spell slot levels every long rest. You can use these to cast any non-cantrip Divination spell of 5th level of lower, using an attribute of your choice."
           "As a reaction to taking a critical hit, or to being hit while below 50% HP, you may cast Foresight. You can do this once per long rest."
           "You gain the Keen Mind feat. If you already have the Keen Mind feat, you may gain a different feat instead."
           "When you cast Foresight, you may target one additional creature within 30 feet."]}
 {:name     "Odi-heath",
  :enabled? false
  :levels   ["You have Expertise with Sleight of Hand and Stealth when attempting to steal or view documents (can be plans, contracts, maps, etc).",
             "You have advantage, and +2, on all Wisdom and Intelligence skill checks if you have taken at least 10 damage in the last minute. You may self-inflict this damage to trigger this."
             "When learning creature stats, changing the target creature does not consume questions. When you make a skill check to learn creature stats, gain a bonus equal to the number of enemies you can see."
             "As an action when you successfully learn about a creature within 5 feet of you, you may force that creature to make a WIS save against 8 + your prof mod + an attribute mod of your choice. On a failed save, it has disadvantage when attacking you for up to a minute, saving at the end of each turn to end the effect. You may also choose to do this as a free action, but this prohibits you from using this ability until the end of your next turn."
             "As a reaction to being targeted by an opportunity attack, or to an enemy within 5 feet of you making an opportunity attack, you immediately gain 4 questions about that creature."
             "When you are forced to make a save, you may use your Investigation bonus instead of your save bonus. You may do this up to four times per short rest. Also, you gain proficiency (or +2) in Investigation."
             "You get 12 spell slot levels every long rest. You can use these to cast any non-cantrip Divination spell of 5th level of lower, using an attribute of your choice."
             "As a reaction to taking a critical hit, or to being hit resulting in you being below 50% HP, you may cast Foresight. You can do this once per long rest."
             "You gain the Keen Mind feat, and +1 Intelligence. If you already have the Keen Mind feat, you may gain a different feat instead."
             "When you cast Foresight, you may target one additional creature within 30 feet. Additionally, you have Truesight to a range of 60 feet."]}
 {:name   "Thetia"
  :levels ["You and your allies gain +1 damage in battle while outnumbered (>0hp only)."
           "When using a consumable in combat, you have a 25% chance for that consumable to be refunded immediately."
           "You gain proficiency in Charisma (Intimidation). Additionally, your proficiency bonus is doubled for any ability check you make with this skill when attempting to get information from a vanquished foe (e.g. non-lethaled)."
           "When you land a Killing Blow, all allies of the killed creature within 60 feet that saw the kill suffer a -2 penalty to their mental attributes (min 1) for the next 12 seconds (does not stack). Additionally, you gain 5 temporary hit points for each enemy affected."
           "You have +1 AB and +1 to spell save DCs against enemies within 5 feet of two or more of your allies, including yourself."
           "You and your allies may choose to use the highest initiative result from rolled among the group, and decide the order within the team. If more than once party member has this ability, the party has +3 to initiative checks."
           "You gain proficiency in saving throws of types you've failed in the last 12 seconds."
           "Once per minute, when an enemy recovers from a condition you caused in battle (e.g. breaking a grapple, succeeding on a spell save, you lose concentration), you may force it to gain 3 points of exhaustion until the end of its next turn."
           "Once per long rest, when you would otherwise go down, you may instead remain on 1 hit point. Until the end of your next turn, you cannot be reduced to be below 1 hit point. At the end of your next turn, if you are on 1 hit point, you go down and have one failed death saving throw."
           "You gain the Inspiring Leader feat. If you already have the Inspiring Leader feat, you may gain a different feat instead. Additionally, instead of temporary hit points, you may choose to grant inspiration instead (decision is per creature). This inspiration point expires after 10 minutes."]}
 {:name   "Cerasil",
  :levels ["You have advantage on Charisma checks directed at non-hostile or non-intelligent plant and beast creatures. Additionally, you can communicate telepathically with them within 30 feet."
           "You are immune to natural diseases."
           "You have +2 resistance to non-magical damage from living creatures."
           "You become acclimatised to both extreme hot and cold environments, and you gain +30ft of Darkvision."
           "You may cast Grasping Vines [Prof Mod] times per short rest."
           "As a bonus action, you may grow/remove a hard bark shell. While this is active, you have +2 AC, but are vulnerable to fire damage and have -10ft movement."
           "You have +1d6 poison damage with attacks and spells."
           "You may cast Sunburst once per long rest, and one additional time while outdoors. You may use an attribute of your choice."
           "In addition to your regular amulet, you are always considered to be wearing an amulet that contains a Treant. Using this is independent of your other amulet's uses."
           "You may cast Storm of Vengeance once per long rest. On casting the spell, choose the radius of the spell, up to 360 feet. When cast in this way, you may also use a bonus action to move the storm up to 100 feet in any direction."]}
 {:name     "Cerasil-heath",
  :enabled? false
  :levels   ["_"
             "You are immune to natural diseases, and have expertise on Medicine checks relating to natural diseases."
             "You have +2 resistance to damage from living creatures."
             "You become acclimatised to both extreme hot and cold environments, and you gain +30ft of Darkvision. Your Darkvision can also see through magical darkness."
             "You may cast Grasping Vines [Prof Mod] times per short rest. When a creature of size Large or smaller substantially fails a its saving throw against your Grasping Vines, it is also knocked prone."
             "As a bonus action, you may grow/remove a hard bark shell. While this is active, you have +2 AC, but are vulnerable to fire damage."
             "You and your minions have +1d8 poison damage with attacks and spells."
             "You may cast Sunburst twice per long rest. You may use an attribute of your choice."
             "In addition to your regular amulet, you are always considered to be wearing an amulet that contains a Treant. Using this is independent of your other amulet's uses. Plant creatures you transform into have 50% more health."
             "You may cast Storm of Vengeance once per long rest. Attribute of choice. On casting the spell, choose the radius of the spell, up to 360 feet. When cast in this way, you may also use a bonus action to move the storm up to 100 feet in any direction. Additionally, on rounds 4+, you may use a bonus action to call up to two bolts of lightning (see Round 3), and on each round you may choose for the storm's regular effect not to take place."]}
 {:name   "Qhanas"
  :levels ["You have an additional first level spell slot, assuming you already have at least one."
           "You may use your own Spell Save DC and Spell AB when using Spells and Cantrips while transformed."
           "All weapons you use are considered to have the Conduit trait."
           "When you upcast a spell, you may cast it at a level one above the spell slot consumed."
           "You may cast spells with a range that isn't Self as if they had a range of Touch instead. Creatures targeted by a spell of your cast with a range of Touch cannot make opportunity attacks until the start of their next turn."
           "You and allies under the effect of one or more of your spells gain +1 AC, and +1d4 force damage with spells and Conduit weapons."
           "Once per long rest, when you fail a Concentration Save, you may choose to succeed instead."
           "Enemies under the effect of one or more of your spells have -2 to spell saves against incoming spells and -1 to spell saves for ending existing effects."
           "[Prof mod] times per long rest, when an enemy succeeds a saving throw against a spell you cast this turn, or when it uses its Legendary resistance to force a success, you may consume another equivalent spell slot to instead force a failure. Legendary Resistance cannot be used to override this."
           "Whenever you cast a spell that was ineffective (e.g. a spell attack that missed), you may make Constitution saving throw against a DC of 8 + twice the spell slot used. On a success, you regain the consumed spell slot."]}
 {:name   "Thatar"
  :levels ["You can communicate telepathically (bidirectional) with undead creatures within 120 feet. The creature must be able to understand a language."
           "Undead creatures take 5 true damage upon damaging you."
           "As a reaction, you may redirect any damage you take to an undead minion you control within 5 feet of you."
           "You may reroll non-undead monsters in your amulet for free. When rerolled in this way, the resulting monster is undead and 1CR higher than the amulet's usual capacity."
           "Once per short rest, when you land a killing blow with Necrotic damage on your turn, you may take on additional turn immediately after your current turn."
           "You may sacrifice undead minions you control as a bonus action. When you do so, you regain one expended healing surge for each sacrificed minion."
           "Undead fortitude (DC 5 + damage taken unless critical or contains radiant). Maximum twice per turn."
           "You may cast Necromancy spells as if using a spell slot one level higher than the one used."
           "You become undead. You may choose the extent to which this is visibly obvious (as little as Vampire, as much as Skeleton). You become resistant to poison and necrotic damage and immune to diseases and Turn Undead."
           "You may cast the Time Ravage spell once per long rest. If this spell kills a creature, you may cast Soul Cage to capture its soul."]}
 {:name   "Ketis"
  :levels ["You have +1 resistance to cold, fire, and lightning damage."
           "When you take fire, cold, or lightning damage, you become resistant to any of those damage types that instance of damage did not contain. Maximum 1 instance of this buff."
           "You can cast Absorb Elements an amount of times equal to your attribute of choice, to a minimum of once, per long rest."
           "When you score a critical strike, your die sizes for cold, fire, and lightning damage increase by two."
           "As a reaction to being targeted by a melee attack, you emit a thunderous burst (same effect as Thunderwave but not magical) CON Mod (min 1) times per short rest. Attribute of your choice."
           "You may cast Fire Shield as a bonus action once per short rest. When cast in this way, you may also target other willing creatures you can see within 30 feet."
           "You may cast Elemental Weapon once per long rest. When cast in this way, the spell lasts for 4 hours, and does not require concentration."
           "+1 AB with attacks that would deal fire, cold, or lightning damage, and +1 spell save DC to spells that would deal fire, cold, or lightning damage."
           "Once per long rest, when an enemy successfully saves against an effect that would deal fire, cold, or lightning damage, you may instead choose to make them critically fail. This can nullify a use of legendary resistance."
           "You may cast Meteor Swarm once per long rest. When cast in this way, you can replace the bludgeoning damage with fire damage. Attribute of your choice."]}
 {:name   "Eion"
  :levels ["You may conjure a piece of Adventuring Gear worth between 1cp and 10gp (inclusive). Items conjured in this way dissipate after 10 minutes. You may do this 5 times per long rest. (For items not on the list, you can ask me an I might be willing to let you conjure anyway)."
           "When you make an opportunity attack, you may make a proficient spell attack against that target instead (attribute of choice). On a hit, teleport the target to a random safe and unoccupied space you can see within 20 feet of them (2d9, where 5/5 is no effect). Note that you can make opportunity attacks with ranged weapons as improvised weapons."
           "You learn the Mage Hand cantrip. This does not count towards your limit of known cantrips. You may cast Mage Hand requiring no verbal or somatic components, as well as dismiss and control it as a bonus action. Additionally, it is no longer restricted to 10 pounds - you may make checks with an attribute of choice equivalent to strength checks to determine the hand's power. This cannot be used for creature interactions (e.g. shoves)."
           "Using your movement action, you may prepare teleportation to a space you can see within range of your movement speed. If you also prepare an action on the same turn, the action must have the same trigger, and you may use the same reaction to perform the action and the movement in the order of your choice."
           "You may cast Summon Construct once per long rest. When cast in this way, you may spend a bonus action to conjure fixes to flaws in the Construct, restoring its hit points by up to twice your level. You may do this no more than twice per minute."
           "As a bonus action, you may conjure up to 5 stone pillars (5 feet squared each) from the ground on spaces you can see within 60 feet of you. These pillars are 20 feet tall or the height of the ceiling, whichever is shorter. Creatures on those spaces are pushed to a surrounding empty space of your choice, then make a Dex save (ment att of choice) or take 1d10 bludgeoning damage. These pillars last for 10 minutes, and have 17AC and 100HP, disappearing when reaching 0 life. Max 15 active pillars at one time."
           "When within 5 feet of one of your pillars, you have full visibility from the perspectives of any of your pillars. Additionally, you may choose to make any spell or attack you use originate from another pillar you have created in the same plane. For example, a pillar 500 feet away might make a sword attack against an adjacent creature, or cast Fireball into a room you would otherwise not be able to see."
           "You may cast Temple of The Gods once per long rest. When cast in this way, the temple must be dedicated to Eion. While in a Temple of the Gods dedicated to Eion, you may cast Conjuration spells at two levels above its regular spell level (normally the spell slot level used)."
           "You may replace your movement with teleportation (limited to spaces you can see), allowing you to move across otherwise uncrossable/difficult terrain, move vertically, and always avoid opportunity attacks."
           "You may cast Create Magen once per long rest. When cast in this way, the maximum hit point reduction is instead 4 times the CR of the Magen summoned, but the reduction only lasts as long as the Magen is alive. You may desummon any of your Magens at will."]}]
