[{:name   "Talaria"
  :effect "Modifiers to non-global speed on this item are instead applied to flying speed. +5 flying speed while this item has at least one modifier relating to speed."
  :slot   "boots"}
 {:name   "Unbound"
  :effect "+1 to saves for ending and avoiding conditions while this item has at least one modifier that relates to grapples or restrains."
  :slot   "boots"}
 {:name   "Traceur"
  :effect "+15 feet to each of your speeds (0+) while this item has at least one modifier that relates to jumping."
  :slot   "boots"}
 {:name   "Hardy"
  :effect "+1 damage resistance while this item has at least one modifier that grants AC to the wearer, including conditional modifiers regardless of if they apply."
  :slot   "boots"}
 {:name   "Hale"
  :effect "+1 to the values of all modifiers on this item that relate to healing, regeneration, and temporary hit points."
  :slot   "boots"}
 {:name   "Selfish"
  :effect "Outgoing healing modifiers on this item are converted to incoming healing. Incoming healing modifiers on this item, including converted modifiers, have +1 to their values."
  :slot   "boots"}
 {:name   "Egalitarian"
  :effect "Modifiers on this item that grant resistances apply to all damage types and damage source types, and are no longer conditional if they were originally."
  :slot   "boots"}
 {:name   "Defensive"
  :effect "+1 global damage for each 'survivability' tagged mod while this item only has 'survivability' tagged modifiers on it."
  :slot   "boots"}
 {:name   "Bramblejack"
  :effect "Modifiers on this item that grant flat resistances also grant equivalent piercing damage thorns that triggers when that resistance applies."
  :slot   "body"}
 {:name   "Bellmarian"
  :effect "Modifiers on this item that relate to a specific damage type instead apply to both radiant and necrotic damage types (separately)."
  :slot   "body"}
 {:name   "Intangible"
  :effect "Modifiers on this item that relate to a specific damage type instead apply to both psychic and force damage types (separately)."
  :slot   "body"}
 {:name   "Stormweaver"
  :effect "Modifiers on this item that relate to a specific damage type instead apply to both lightning and thunder damage types (separately)."
  :slot   "body"}
 {:name   "Apocalyptic"
  :effect "Modifiers on this item that relate to a specific damage type instead apply to both cold and fire damage types (separately)."
  :slot   "body"}
 {:name   "Impactful"
  :effect "Modifiers on this item that relate to a specific damage type instead apply to physical damage types."
  :slot   "body"}
 {:name   "Apothecary"
  :effect "Modifiers on this item that relate to a specific damage type instead apply to both acid and poison damage types (separately)."
  :slot   "body"}
 {:name   "Abundant"
  :effect "'Wealth' tagged modifiers on this item have no effect. +1 to each of your ability score for each wealth modifier on this item."
  :slot   "body"}
 {:name   "Precise"
  :effect "-1 to your critical hit requirement for each 'critical' tagged modifier on this item. Your critical hits deal no additional damage if this item has at least one 'critical' tagged modifier."
  :slot   "body"}
 {:name   "Sovereignty"
  :effect "+2 to concentration saves for minion spells and effects while this item has at least one modifier that affects your minions."
  :slot   "gloves"}
 {:name   "Trickster"
  :effect "Modifiers to skills on this item also apply to Sleight of Hand."
  :slot   "gloves"}
 {:name   "Maleficarum"
  :effect "Creatures affected by your marks or curses have -1 to damage resistance while this item has at least one modifier that relates to marks or curses."
  :slot   "gloves"}
 {:name   "Aggressive"
  :effect "Your AC is always exactly 14 while this item only has 'damage' tagged modifiers on it, and has at least 2 modifiers."
  :slot   "gloves"}
 {:name   "Consistent"
  :effect "Effects granted to you by modifiers on this item on killing blow can also be gained as a free action on your turn no more than once per long rest."
  :slot   "gloves"}
 {:name   "Amplified"
  :effect "Relics on this item are one level higher, to a maximum of 10. Relics removed from this item lose their last gained level."
  :slot   "gloves"}
 {:name   "Sniper"
  :effect "Modifiers related to attacks, melee attacks, or spell attacks now apply to all projectile attacks instead."
  :slot   "gloves"}
 {:name   "Confrontational"
  :effect "Modifiers related to attacks, ranged attacks, or spell attacks now apply to all melee weapon attacks and touch attacks instead."
  :slot   "gloves"}]
