[{:name    "Pacifist's Vow"
  :base    "Blowgun"
  :effects [{:effect "Non-damaging spells have a 50% chance consume a spell slot 1 level lower."}
            {:effect "You may forego dealing damage with a spell to make it count as a non-damaging spell."}
            {:effect "The damage you deal with spells and cantrips is halved."}]}
 {:name    "Researcher's Power"
  :base    "Staff"
  :effects [{:effect "Intelligence is not capped at 20."}
            {:effect "+2 intelligence."}
            {:effect "+2 to non-highest mental attribute (choose if equal)."}
            {:effect "You cannot use intelligence to cast spells."}
            {:effect "You can use a different mental attribute for spells that you would normally cast with intelligence."}]}
 {:name    "Wrestler's Perseverance"
  :base    "any body armour"
  :effects [{:effect "You have advantage with melee attacks while grappled or restrained. You do not suffer disadvantage on melee attacks while restrained."}
            {:effect "You have proficiency with Athletics and Acrobatics."}
            {:effect "Creatures you are grappling are considered to be restrained."}
            {:effect "You are considered to be restrained while you are grappling a creature."}]}
 {:name    "Garb of the Divine"
  :base    "any body armour"
  :effects [{:effect "You gain Divinity until the end of your next turn when you hit a creature with an attack."}
            {:effect "+10 fire, radiant, cold, and lightning damage while you have Divinity."}
            {:effect "You may convert any physical damage you deal to fire, radiant, cold, or lightning damage while you have Divinity."}
            {:effect "You are immune to curses."}
            {:effect "You take no extra damage from critical strikes from creatures within 5 feet of you."}
            {:effect "May only be worn if you have 20 intelligence and 20 strength."}
            {:effect "You may not add your intelligence or strength to any damage you deal."}]}
 {:name    "Infernal Mantle"
  :base    "any body armour"
  :effects [{:effect "+3 fire damage with spells."}
            {:effect "-1 critical strike requirement with spells."}
            {:effect "Targets have +1 critical strike avoidance minimum when saving against your spells."}
            {:effect "You are vulnerable to all spell damage if you have expended your spell slots at any level."}
            {:effect "Can only be donned or doffed after a long rest."}]}
 {:name    "Werebear's Pelt"
  :base    "any body armour"
  :effects [{:effect "Your hit die size is increased by 2. This increases your maximum hit points."}
            {:effect "You regenerate 4 hit points per round in combat."}
            {:effect "You have advantage on physical damage dice rolls with melee attacks."}
            {:effect "You are large."}
            {:effect "You cannot cast spells."}
            {:effect "You cannot wear relics."}]}
 {:name    "Garb of the Unhinged"
  :base    "any body armour"
  :effects [{:effect "+2 to all attributes."}
            {:effect "Your critical strike requirement is 13 while you are not mad."}
            {:effect "Targets have a critical strike avoidance minimum of 7 when saving against your spells while you are not mad."}
            {:effect "+3 resistance to all damage while mad."}
            {:effect "Healing you receive while mad is applied as if the maximum value was rolled."}
            {:effect "Roll a d20 at the start of each turn in combat where you are conscious. If you roll 10 or lower, roll a d100 on the short term madness table. You are afflicted by the matching effect until the start of your next turn."}]
  :madness {"01-20"  "The character retreats into his or her mind and becomes paralyzed. The effect ends if the character takes any damage."
            "21-30"  "The character becomes incapacitated and spends the duration screaming, laughing, or weeping."
            "31-40"  "The character becomes frightened and must use his or her action and movement each round to flee from the source of the fear. (source is a random enemy in combat)"
            "41-50"  "The character begins babbling and is incapable of normal speech or spellcasting."
            "51-60"  "The character must use his or her action each round to attack the nearest creature."
            "61-70"  "The character experiences vivid hallucinations and has disadvantage on ability checks."
            "71-75"  "The character does whatever anyone tells him or her to do that isn't obviously self-destructive."
            "76-80"  "The character experiences an overpowering urge to eat something strange such as dirt, slime, or offal (and must spend their action attempting to do so)."
            "81-90"  "The character is stunned."
            "91-100" "The character falls unconscious."}}
 {:name    "Slow and Steady"
  :base    "any boots"
  :effects [{:effect "You are immune to the grappled and restrained conditions."}
            {:effect "+2 maximum Constitution."}
            {:effect "+1 Constitution."}
            {:effect "Your speed is reduced by 10 feet."}]}
 {:name    "Fast and Furious"
  :base    "any boots"
  :effects [{:effect "Your speed is increased by 5 feet for each attack you've made during your turn."}
            {:effect "You may sacrifice half of your movement to disengage if you've made an attack in your bonus action."}
            {:effect "Your speed is reduced by 10 feet."}]}
 {:name    "Gluttony"
  :base    "any boots"
  :effects [{:effect "You gain 3 hit points when hitting enemies cursed by you, no more than once per turn."}
            {:effect "Allies gain 3 hit points on hitting enemies cursed by you."}
            {:effect "You cannot gain temporary hit points."}
            {:effect "You take 5 true damage when you dash."}]}
 {:name    "Unreserved"
  :base    "any gloves"
  :effects [{:effect "+2 global damage."}
            {:effect "+1 incoming healing."}
            {:effect "+1 damage vulnerability."}]}
 {:name    "Relentless"
  :base    "any helmet"
  :effects [{:effect "Regenerate 5 life each round in combat while conscious."}
            {:effect "Gain temporary hit points equal to twice your level when you roll for initiative and do not have full health."}
            {:effect "You cannot benefit from healing surges while conscious."}]}
 {:name    "Mitts of the Frostbitten"
  :base    "any gloves"
  :effects [{:effect "+1 cold thorns."}
            {:effect "+2 cold damage."}
            {:effect "Physical damage you would deal is dealt as cold damage instead."}
            {:effect "Your physical damage is halved."}]}
 {:name    "Cryomancer's Obsession"
  :base    "any helmet"
  :effects [{:effect "+1d4 cold damage with attacks and spells."}
            {:effect "Enemies you score a critical strike against are frozen; +2 cold vulnerability, fire resistance, restrained. CON save at end of turn (8+prof+att) to end, or until taking fire damage."}
            {:effect "You can only land killing blows against frozen enemies (including non-frozen enemies you have just hit with a crit)."}]}
 {:name     "Desecration"
  :base     "any weapon"
  :effects  [{:effect "You may add your character level to the life of one of your minions upon creation."}
             {:effect "You may raise undead minions without the requisite corpses."}
             {:effect "You may only have minions that would normally require corpses to be created."}
             {:effect "You may only have undead minions."}]
  :enabled? false}
 {:name    "Corrosion"
  :base    "any 1h weapon"
  :effects [{:effect "Physical damage you would deal with this weapon is dealt as acid damage instead."}
            {:effect "+1d4 acid damage with this weapon."}
            {:effect "+1 die size with acid damage."}
            {:effect "Take 1 acid damage whenever you make an attack with this weapon."}]}
 {:name    "Apothecary's expertise"
  :base    "any gloves"
  :effects [{:effect "Poisons you inflict end one round after their regular duration (including being ended with a save)."}
            {:effect "When deal poison damage to a poison-immune enemy, they become resistant to poison instead."}
            {:effect "When deal poison damage to a poison-resistant enemy, they lose their resistance to poison."}
            {:effect "-2 damage with non-poison damage types."}]}
 {:name    "Thunderfist"
  :base    "any brawling weapon"
  :effects [{:effect "+1d4 thunder damage with this weapon."}
            {:effect "+20 temporary hit points when you take thunder damage."}
            {:effect "You may force enemies that take thunder damage from a critical strike from this weapon to make a STR save (DC: 8+AB) or be knocked back 5feet."}
            {:effect "You are vulnerable to lightning damage."}]}
 {:name    "Flame's Embrace"
  :base    "any helmet"
  :effects [{:effect "You cannot become vulnerable, resistant, or immune to fire."}
            {:effect "You may choose to ignite yourself as a bonus action, taking 1d4 fire damage at the start of your turn while burning. This lasts as long as you are conscious, or until you use an action to stop it."}
            {:effect "While burning: your hits deal no fire damage, but instead burn for 50% of hit's fire damage every round for 3 rounds."}
            {:effect "While burning: Once per round, when an enemy takes fire damage from you, you also take 1d4 fire damage."}
            {:effect "While burning: Your non-fire damage is halved."}]}
 {:name    "Dominion"
  :base    "any helmet"
  :effects [{:effect "+1 resistance to physical damage per minion you control, max 3."}
            {:effect "Your minion's hit point maximum is increased by twice the spell level used to create them."}
            {:effect "Your minions' damage is halved."}]}
 {:name    "Pashupatastra"
  :base    "any bow"
  :effects [{:effect "Modifiers to minion damage apply to attacks with this weapon, as projectiles you shoot with this weapon are replaced by spectral tigers."}
            {:effect "This weapon's base damage is radiant."}
            {:effect "When you score a critical strike with this weapon, all creatures within 30 feet of the target take 10 radiant damage."}
            {:effect "You cannot attack more than once per round."}
            {:effect "+3 radiant damage with this weapon for each attack you would normally be able to do in a round (can scale with things such as Action Surge or ki points, still consuming the resource)."}]}
 {:name    "Gungir"
  :base    "any spear"
  :effects [{:effect "+1AB with this weapon for each consecutive attack you've missed previously."}
            {:effect "Gain 3 hit points and 3 temporary hit points when you kill an enemy with this weapon."}
            {:effect "-2 damage with this weapon against creatures that are not larger than you."}]}
 {:name    "Mjolnir"
  :base    "any hammer"
  :effects [{:effect "+1d6 thunder damage with this weapon."}
            {:effect "This weapon's base damage is converted to lightning."}
            {:effect "+2 lightning damage."}
            {:effect "Requires 22 strength to wield."}]}
 {:name    "Excalibur"
  :base    "any sword"
  :effects [{:effect "This weapon becomes light; if it was previously tagged with Heavy, it loses that tag."}
            {:effect "This weapon becomes a finesse weapon."}
            {:effect "+1 critical strike requirement with this weapon."}]}
 {:name    "Malediction"
  :base    "any gloves"
  :effects [{:effect "You may cast curse spells as bonus action instead of an action. Curses cast in this way take effect with a 3 round delay, although they still require a save if the original spell did. You do not need to concentrate on the curse until it takes effect."}
            {:effect "Cursed enemies take necrotic damage equal to twice your level when a curse on them expires due to its duration ending."}
            {:effect "The duration of your curses is reduce by 18 seconds."}]}
 {:name    "Pasha"
  :base    "any flail"
  :effects [{:effect "Enemies you critically strike with this weapon become restrained until they use an action to end the effect."}
            {:effect "+2 damage with this weapon against grappled and restrained enemies."}
            {:effect "Attacks with this weapon cannot cause a creature's hit points to go below 1."}]}
 {:name    "Vel"
  :base    "any thrown weapon"
  :effects [{:effect "You can always see through illusions disguising the true nature or presence of a living creature."}
            {:effect "When you attack a creature whose illusion you can see through with this weapon, instead of dealing damage, you cast Polymorph on the creature and ends its illusion (mental attribute of choice)."}
            {:effect "You have disadvantage on attacks with this weapon when using it for melee attacks."}]}
 {:name     "Call of the Frostbitten"
  :base     "any weapon"
  :effects  [{:effect "Your minions deal +1d6 cold damage."}
             {:effect "Your minions have +5 feet of movement."}
             {:effect "Your minions are immune to cold damage."}
             {:effect "Your minions deal no non-cold damage."}]
  :enabled? false}
 {:name    "Overcharged"
  :base    "any gloves"
  :effects [{:effect "You have an additional first level spell slot, if you already have at least one."}
            {:effect "You regain 1 first level spell slot when rolling for initiative."}
            {:effect "You gain an additional spell slot from each spell level in which you have a spell slot unlocked, up to 5th level."}
            {:effect "When using the final spell slot in a given spell level, you take 10 times the spell slot level used."}
            {:effect "-1 Wisdom, Charisma, and Intelligence."}]}
 {:name    "Raven's Talon"
  :base    "any knife"
  :effects [{:effect "+1d4 damage against blinded enemies."}
            {:effect "-1 critical strike requirement against blinded enemies."}
            {:effect "Non-blind enemies you critically strike become blinded for a minute, CON save at turn end to end, mental attribute of choice."}
            {:effect "You are blinded upon blinding a creature, with the same condition for ending the effect. Creating darkness, for example, does not count as blinding a creature."}]}
 {:name    "The Sentinel"
  :base    "any shield or shield weapon"
  :effects [{:effect "+1 bludgeoning, slashing, and piercing resistance."}
            {:effect "Regenerate 1 hit point when you block an attack."}
            {:effect "You may make an opportunity attack against creatures within 5 feet of you when you block their melee attacks."}
            {:effect "You take 3 damage whenever you make an attack."}]}
 {:name    "Savage"
  :base    "any one handed axe"
  :effects [{:effect "+1 damage while dual wielding."}
            {:effect "+1 global damage while wielding a flail."}
            {:effect "You cannot gain temporary hit points."}]}
 {:name    "Controlling"
  :base    "any one handed sword"
  :effects [{:effect "+1 damage while dual wielding."}
            {:effect "+1 AB with this weapon while wielding a pick."}
            {:effect "+1 critical strike requirement."}]}
 {:name    "Tankie"
  :base    "any one handed knife"
  :effects [{:effect "+1 damage while dual wielding."}
            {:effect "+1 AC while wielding a hammer."}
            {:effect "-5 feet speed."}]}
 {:name    "Meticulous"
  :base    "any shield weapon"
  :effects [{:effect "+1 damage while dual wielding."}
            {:effect "+1 reactions while wielding a club."}
            {:effect "-1 to all Strength and Dexterity skill checks, and -1 to Concentration checks."}]}
 {:name    "Unyielding"
  :base    "any non-caster weapon"
  :effects [{:effect "+1 AC if you have cast a spell since the beginning of your previous turn."}
            {:effect "+1 damage with cantrips if you haven't cast any non-cantrip spells since the beginning of your previous turn."}
            {:effect "-2 to concentration checks if you haven't cast any non-cantrip spells since the beginning of your previous turn."}]}
 {:name     "Alpha"
  :base     "any weapon"
  :effects  [{:effect "When you land a killing blow or a natural critical strike with this weapon, you may summon a wolf (CR1/4, MM p341). This wolf is placed immediately after you on the initiative tacker."}
             {:effect "+3 minion damage when the minion is a beast."}
             {:effect "+5 minion hit points when the minion is a beast."}
             {:effect "You cannot have more than one minion active at any given time. If you would summon one while you already have one active, you may choose which one supersedes."}]
  :enabled? false}
 {:name    "Hidden"
  :base    "any knife"
  :effects [{:effect "You are invisible if you haven't attacked or cast a spell in the last 18 seconds."}
            {:effect "Gain 5 temporary hit points when you critically strike with this weapon."}
            {:effect "Creatures that can see you take no damage from attacks with this weapon."}]}
 {:name    "The Resilient"
  :base    "shield"
  :effects [{:effect "You are resistant to all damage from attacks whose attack roll total was below (your AC+5)."}
            {:effect "This shield can be used without proficiency in shields."}
            {:effect "-2 AC."}]}
 {:name    "Thornwall"
  :base    "shield"
  :effects [{:effect "Deal 2 piecing damage to melee attackers within 5 feet on blocking their attacks."}
            {:effect "-1 damage during your turn."}]}
 {:name    "Dáinsleif"
  :base    "any sword"
  :effects [{:effect "+1d6 necrotic damage with this weapon."}
            {:effect "When you damage a creature with this weapon, its maximum hit points are reduced by an amount equal to the necrotic damage dealt."}
            {:effect "When you remove more than half of a creature's remaining hit points with an attack with this weapon, the creature is killed. This supersedes non-lethal."}
            {:effect "Take damage equal to your level when you end a combat without landing a killing blow."}
            {:effect "-2 slashing resistance."}]}
 {:name    "Carnwennan"
  :base    "any knife"
  :effects [{:effect "-2 critical strike requirement against creatures in magical darkness."}
            {:effect "Your space becomes engulfed in magical darkness until the end of your next turn when you hit a creature with an attack with this weapon."}
            {:effect "-1 AB while in magical darkness."}]}
 {:name    "Amenonuhoko"
  :base    "any polearm"
  :effects [{:effect "The first time on your turn that you hit a creature with this weapon, you cast Earth Tremor as a first level spell. DC based mental attribute of choice."}
            {:effect "You must concentrate to hold this weapon. Whenever you lose concentration, you may either drop the weapon or immediately cast Earth Tremor. When cast in this way, the spell also affects you, but does not invoke further concentration saves."}]}
 {:name    "Babr-e Bayan"
  :base    "any heavy body armour"
  :effects [{:effect "You are immune to fire and cold damage."}
            {:effect "+2 AC against weapon attacks."}
            {:effect "-1 AC."}
            {:effect "Your speed is reduced by 10 feet."}]}
 {:name    "Diomedian Cunning"
  :base    "any body armour"
  :effects [{:effect "This armour sells for triple the regular price."}]}
 {:name    "Forceslinger"
  :base    "wand"
  :effects [{:effect "You may sacrifice a spell slot to add {spell slot level}d4 to the attack roll and damage from an attack with this weapon."}
            {:effect "You ignore resistances and immunities to force with this weapon."}
            {:effect "Wand attacks made during your bonus action have advantage."}
            {:effect "-1 damage with damage types other than force."}]}
 {:name    "Antimagic stick"
  :base    "wand"
  :effects [{:effect "Creatures you attack with this weapon gain one level of vulnerability (immune->resistant->regular->vulnerable) to damage types from this weapon."}
            {:effect "You cannot deal force damage with this weapon."}
            {:effect "Your spells consume two spell slots instead of one while holding this weapon or if you have attacked with this weapon in the last minute. If you have fewer than two available, you cannot cast the spell at that spell slot level."}
            {:effect "-1 cantrips known."}]}
 {:name    "Lorg Mór"
  :base    "any club or hammer"
  :effects [{:effect "This weapon gains the Sweep property."}
            {:effect "+3 to Medicine checks for healing downed allies."}
            {:effect "+1 incoming healing."}
            {:effect "You are large."}
            {:effect "-2 Intelligence."}
            {:effect "-2 Charisma."}]}
 {:name    "Staff of Moses"
  :base    "any club or staff"
  :effects [{:effect "Once per long rest, you may transform this weapon into a Giant Constrictor Snake (MM 324). The snake spawns in a space within 5 feet of you. As an action, you may transform your snake back into this weapon. While this weapon is a snake, you do not benefit from its magical effects."}
            {:effect "+2 fire resistance."}
            {:effect "+1 Charisma."}
            {:effect "You have disadvantage on attacks with this weapon against Elemental creatures."}
            {:effect "You have disadvantage on all checks relating to grapples and restrains."}]}
 {:name    "Miner's Greed"
  :base    "any pick"
  :effects [{:effect "-2 critical strike requirement."}
            {:effect "This weapon gains the Deadly trait."}
            {:effect "When you deal a natural critical strike, you take true damage equal to thrice the difference between your natural roll and 20 (e.g. take 6 damage after critting with an 18, 0 with a 20)."}]}
 {:name     "Template"
  :base     "string"
  :effects  [{:effect "description"}]
  :enabled? false}
 ]
