[{:category     "Club",
  :proficiency  "Simple",
  :name         "Club",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :range        "10/15",
  :traits       ["Thrown"]}
 {:category     "Knife",
  :proficiency  "Simple",
  :name         "Dagger",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing" "Slashing"],
  :range        "10/15",
  :traits       ["Light" "Finesse" "Thrown" "Flexible"]}
 {:category     "Brawling",
  :proficiency  "Simple",
  :name         "Gauntlet",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Bludgeoning"],
  :traits       ["Light" "Unarmed"]}
 {:category     "Club",
  :proficiency  "Simple",
  :name         "Light Mace",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Bludgeoning"],
  :traits       ["Light" "Finesse" "Shove"]}
 {:category     "Spear",
  :proficiency  "Simple",
  :name         "Longspear",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :traits       ["Two-handed" "Reach"]}
 {:category     "Club",
  :proficiency  "Simple",
  :name         "Mace",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :traits       ["Shove"]}
 {:category     "Club",
  :proficiency  "Simple",
  :name         "Morningstar",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning" "Piercing"],
  :traits       ["Flexible"]}
 {:category     "Knife",
  :proficiency  "Simple",
  :name         "Sickle",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Slashing"],
  :traits       ["Light" "Finesse" "Trip"]}
 {:category     "Spear",
  :proficiency  "Simple",
  :name         "Spear",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :range        "20/30",
  :traits       ["Thrown"]}
 {:category     "Brawling",
  :proficiency  "Simple",
  :name         "Spiked Gauntlet",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing"],
  :traits       ["Light" "Unarmed"]}
 {:category     "Dart",
  :proficiency  "Simple",
  :name         "Blowgun",
  :type         "Ranged",
  :damage       1,
  :damage-types ["Piercing"],
  :range        "20/40",
  :traits       ["Light" "Non-lethal"]}
 {:category     "Bow",
  :proficiency  "Simple",
  :name         "Crossbow",
  :type         "Ranged",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :range        "120/240",
  :traits       ["Two-handed"]}
 {:category     "Dart",
  :proficiency  "Simple",
  :name         "Dart",
  :type         "Ranged",
  :damage       "1d4",
  :damage-types ["Piercing"],
  :range        "20/30",
  :traits       ["Light" "Thrown"]}
 {:category     "Bow",
  :proficiency  "Simple",
  :name         "Hand Crossbow",
  :type         "Ranged",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :range        "60/120",
  :traits       []}
 {:category     "Bow",
  :proficiency  "Simple",
  :name         "Heavy Crossbow",
  :type         "Ranged",
  :damage       "1d10",
  :damage-types ["Piercing"],
  :range        "120/240",
  :traits       ["Two-handed" "Reload"]}
 {:category     "Dart",
  :proficiency  "Simple",
  :name         "Javelin",
  :type         "Ranged",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :range        "30/45",
  :traits       ["Thrown"]}
 {:category     "Sling",
  :proficiency  "Simple",
  :name         "Sling",
  :type         "Ranged",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :range        "50/100",
  :traits       ["Propulsive"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Bastard Sword",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :traits       ["Versatile"]}
 {:category     "Axe",
  :proficiency  "Martial",
  :name         "Battle Axe",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Slashing"],
  :traits       ["Sweep"]}
 #_{:category     "Sword",
  :proficiency  "Martial",
  :name         "Bastard Sword",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Grapple"]} ;TODO duplicate item, need to redo weapons anyway
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Bo Staff",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Parry" "Reach" "Trip"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Boomerang",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Slashing"],
  :range        "20/30",
  :traits       ["Thrown" "Returning"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Falchion",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Forceful" "Sweep"]}
 {:category     "Flail",
  :proficiency  "Martial",
  :name         "Flail",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :traits       ["Disarm" "Sweep" "Trip"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Glaive",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Deadly" "Forceful" "Reach"]}
 {:category     "Axe",
  :proficiency  "Martial",
  :name         "Greataxe",
  :type         "Melee",
  :damage       "1d12",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Heavy" "Sweep"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Greatclub",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Backswing" "Heavy" "Shove"]}
 {:category     "Pick",
  :proficiency  "Martial",
  :name         "Greatpick",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Piercing"],
  :traits       ["Two-handed" "Fatal" "Heavy"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Greatsword",
  :type         "Melee",
  :damage       "1d12",
  :damage-types ["Slashing" "Piercing"],
  :traits       ["Two-handed" "Flexible" "Heavy"]}
 {:category     "Shield",
  :proficiency  "Martial",
  :name         "Tower Shield",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :traits       ["Heavy" "Shove" "Targe" "Two-handed"]}
 {:category     "Shield",
  :proficiency  "Martial",
  :name         "Spiked Tower Shield",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :traits       ["Heavy" "Shove" "Targe" "Two-handed"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Guisarme",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Reach" "Trip"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Halberd",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Piercing" "Slashing"],
  :traits       ["Two-handed" "Reach" "Flexible"]}
 {:category     "Axe",
  :proficiency  "Martial",
  :name         "Hatchet",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Slashing"],
  :range        "10/15",
  :traits       ["Light" "Sweep" "Thrown"]}
 {:category     "Spear",
  :proficiency  "Martial",
  :name         "Lance",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :traits       ["Two-handed" "Charge" "Deadly" "Reach"]}
 {:category     "Hammer",
  :proficiency  "Martial",
  :name         "Light Hammer",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :range        "20/30",
  :traits       ["Light" "Thrown"]}
 {:category     "Pick",
  :proficiency  "Martial",
  :name         "Light Pick",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing"],
  :traits       ["Light" "Fatal"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Longsword",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Slashing" "Piercing"],
  :traits       ["Flexible"]}
 {:category     "Knife",
  :proficiency  "Martial",
  :name         "Main-gauche",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing" "Slashing"],
  :traits       ["Light" "Disarm" "Finesse" "Parry" "Flexible"]}
 {:category     "Hammer",
  :proficiency  "Martial",
  :name         "Maul",
  :type         "Melee",
  :damage       "1d12",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Heavy" "Shove"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Nunchaku",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Compound" "Finesse"]}
 {:category     "Pick",
  :proficiency  "Martial",
  :name         "Pick",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :traits       ["Fatal"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Ranseur",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Piercing"],
  :traits       ["Two-handed" "Disarm" "Reach"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Rapier",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :traits       ["Deadly" "Disarm" "Finesse"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Ring Blade",
  :type         "Melee",
  :damage       ["1d10"],
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Disarm" "Finesse" "Sweep"]}
 {:category     "Club",
  :proficiency  "Martial",
  :name         "Sap",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Bludgeoning"],
  :traits       ["Light" "Non-lethal"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Scimitar",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Slashing"],
  :traits       ["Forceful" "Sweep"]}
 {:category     "Polearm",
  :proficiency  "Martial",
  :name         "Scythe",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Slashing"],
  :traits       ["Two-handed" "Deadly" "Trip"]}
 {:category     "Sword",
  :proficiency  "Martial",
  :name         "Shortsword",
  :type         "Melee",
  :damage       "1d6",
  :damage-types ["Piercing" "Slashing"],
  :traits       ["Light" "Finesse" "Flexible"]}
 {:category     "Shield",
  :proficiency  "Martial",
  :name         "Small Shield",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Bludgeoning"],
  :traits       ["Light" "Targe"]}
 {:category     "Shield",
  :proficiency  "Martial",
  :name         "Small Spiked Shield",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing"],
  :traits       ["Light" "Targe"]}
 {:category     "Knife",
  :proficiency  "Martial",
  :name         "Starknife",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Piercing" "Slashing"],
  :range        "20/30",
  :traits       ["Light" "Fatal" "Finesse" "Thrown" "Flexible"]}
 {:category     "Spear",
  :proficiency  "Martial",
  :name         "Trident",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :range        "20/30",
  :traits       ["Thrown"]}
 {:category     "Flail",
  :proficiency  "Martial",
  :name         "War Flail",
  :type         "Melee",
  :damage       "1d10",
  :damage-types ["Bludgeoning"],
  :traits       ["Two-handed" "Disarm" "Heavy" "Sweep" "Trip"]}
 {:category     "Hammer",
  :proficiency  "Martial",
  :name         "Warhammer",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Bludgeoning"],
  :traits       ["Shove"]}
 {:category     "Flail",
  :proficiency  "Martial",
  :name         "Whip",
  :type         "Melee",
  :damage       "1d4",
  :damage-types ["Slashing"],
  :traits       ["Disarm" "Finesse" "Non-lethal" "Reach" "Trip"]}
 {:category     "Bow",
  :proficiency  "Martial",
  :name         "Composite Longbow",
  :type         "Ranged",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :range        "100/200",
  :traits       ["Fatal" "Propulsive" "Volley"]}
 {:category     "Bow",
  :proficiency  "Martial",
  :name         "Composite Shortbow",
  :type         "Ranged",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :range        "60/120",
  :traits       ["Fatal" "Propulsive"]}
 {:category     "Bow",
  :proficiency  "Martial",
  :name         "Longbow",
  :type         "Ranged",
  :damage       "1d8",
  :damage-types ["Piercing"],
  :range        "100/200",
  :traits       ["Fatal" "Volley"]}
 {:category     "Bow",
  :proficiency  "Martial",
  :name         "Shortbow",
  :type         "Ranged",
  :damage       "1d6",
  :damage-types ["Piercing"],
  :range        "60/120",
  :traits       ["Fatal"]}
 {:category     "Magic",
  :proficiency  "Simple",
  :name         "Wand",
  :type         "Ranged",
  :damage       "1d4",
  :damage-types ["Force"],
  :range        "30/60",
  :traits       ["Conduit" "Light" "Mental"]}
 {:category     "Caster",
  :proficiency  "Simple",
  :name         "Staff",
  :type         "Melee",
  :damage       "1d8",
  :damage-types ["Bludgeoning"],
  :traits       ["Conduit" "Two-Handed"]}]
