[{:type "loot:3", :session 1, :amount 1}
 {:type "loot:8", :session 1, :amount 1}
 {:type "loot:10", :session 1, :amount 1}
 {:type "loot:11", :session 1, :amount 1}
 {:type "days:other", :session 2, :amount 2}
 {:type "loot:3", :session 2, :amount 2}
 {:type "loot:6", :session 2, :amount 2}
 {:type "loot:2", :session 3, :amount 1}
 {:type "days:travel", :session 3, :amount 13}
 {:type "loot:7", :session 4, :amount 1}
 {:type "loot:10", :session 4, :amount 1}
 {:type "encounter:positive", :session 4, :amount 1}
 {:type "encounter:random", :session 4, :amount 1}
 {:type "loot:5", :session 4, :amount 1}
 {:type "loot:1", :session 4, :amount 2}
 {:type "loot:4", :session 4, :amount 1}
 {:type "days:other", :session 4, :amount 1}
 {:type "loot:3", :session 4, :amount 1}
 {:type "encounter:positive", :session 5, :amount 1}
 {:type "loot:1", :session 5, :amount 1}
 {:type "loot:2", :session 5, :amount 1}
 {:type "loot:8", :session 5, :amount 1}
 {:type "loot:12", :session 5, :amount 1}
 {:type "days:other", :session 5, :amount 1}
 {:type "days:travel", :session 5, :amount 5}
 {:type "days:travel", :session 4, :amount 12}
 {:type "loot:4", :session 6, :amount 1}
 {:type "loot:6", :session 6, :amount 2}
 {:type "loot:11", :session 6, :amount 1}
 {:type "loot:3", :session 6, :amount 1}
 {:type "loot:1", :session 6, :amount 1}
 {:type "loot:8", :session 6, :amount 1}
 {:type "loot:9", :session 6, :amount 2}
 {:type "days:travel", :session 6, :amount 2}
 {:type "encounter:random", :session 6, :amount 1}
 {:type "days:other", :session 6, :amount 1}
 {:type "loot:6", :session 7, :amount 1}
 {:type "loot:2", :session 7, :amount 2}
 {:type "loot:1", :session 7, :amount 2}
 {:type "loot:4", :session 7, :amount 1}
 {:type "loot:7", :session 7, :amount 1}
 {:type "loot:10", :session 7, :amount 2}
 {:type "days:travel", :session 7, :amount 10}
 {:type "encounter:random", :session 7, :amount 2}
 {:type "loot:1", :session 8, :amount 1}
 {:type "loot:6", :session 8, :amount 2}
 {:type "loot:5", :session 8, :amount 1}
 {:type "days:travel", :session 8, :amount 5}
 {:type "encounter:random", :session 8, :amount 1}
 {:type "loot:3", :session 8, :amount 1}
 {:type "loot:4", :session 8, :amount 2}
 {:type "loot:8", :session 8, :amount 1}
 {:type "loot:10", :session 9, :amount 1}
 {:type "loot:9", :session 9, :amount 1}
 {:type "loot:11", :session 9, :amount 1}
 {:type "loot:6", :session 9, :amount 2}
 {:type "loot:1", :session 9, :amount 1}
 {:type "loot:2", :session 9, :amount 1}
 {:type "loot:5", :session 9, :amount 2}
 {:type "loot:7", :session 9, :amount 1}
 {:type "days:other", :session 10, :amount 1}
 {:type "loot:1", :session 10, :amount 2}
 {:type "loot:3", :session 10, :amount 2}
 {:type "loot:4", :session 10, :amount 1}
 {:type "loot:6", :session 10, :amount 2}
 {:type "loot:7", :session 10, :amount 6}
 {:type "loot:9", :session 10, :amount 2}
 {:type "loot:10", :session 10, :amount 1}
 {:type "loot:11", :session 10, :amount 2}
 {:type "loot:12", :session 10, :amount 2}
 {:type "days:travel", :session 10, :amount 2}
 {:type "encounter:positive", :session 11, :amount 1}
 {:type "loot:7", :session 11, :amount 1}
 {:type "loot:6", :session 11, :amount 1}
 {:type "loot:1", :session 11, :amount 1}
 {:type "days:travel", :session 11, :amount 6}
 {:type "encounter:random", :session 11, :amount 2}
 {:type "loot:2", :session 11, :amount 1}
 {:type "loot:4", :session 11, :amount 2}
 {:type "loot:11", :session 11, :amount 1}
 {:type "loot:12", :session 11, :amount 1}]
